pkgbase = sourcegraph-amp
	pkgdesc = CLI for Amp, an agentic coding tool in research preview from Sourcegraph.
	pkgver = 0.0.1749427398_ga0ac55
	pkgrel = 1
	url = https://ampcode.com/
	arch = any
	license = custom
	makedepends = npm
	depends = nodejs
	noextract = amp-0.0.1749427398-ga0ac55.tgz
	source = https://registry.npmjs.org/@sourcegraph/amp/-/amp-0.0.1749427398-ga0ac55.tgz
	sha1sums = 8dd82cefd54534623668800cdadc395f2184022d

pkgname = sourcegraph-amp
