pkgbase = sourcegraph-amp
	pkgdesc = CLI for Amp, an agentic coding tool in research preview from Sourcegraph.
	pkgver = 0.0.1751486517_g5cc052
	pkgrel = 1
	url = https://ampcode.com/
	arch = any
	license = custom
	makedepends = npm
	depends = nodejs
	noextract = amp-0.0.1751486517-g5cc052.tgz
	source = https://registry.npmjs.org/@sourcegraph/amp/-/amp-0.0.1751486517-g5cc052.tgz
	sha1sums = bfd921aa376e69745578df1c0fc5fae4f2e76bd8

pkgname = sourcegraph-amp
